<!DOCTYPE html>
<html>
  <head>
    <title>Entrees</title>
    <style>
      body {
        background-color: #fff;
        font-family: Arial, sans-serif;
      }

      #google_translate_element {
        position: absolute;
        top: 3%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }
      body > .skiptranslate {
        display: none;
      }

      h1 {
        color: #000;
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
      }
      table {
        margin: 0 auto;
        border-collapse: collapse;
        border: 2px solid #000;
        width: 50%;
        margin-top: 50px;
      }
      th,
      td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #000;
      }
      th {
        background-color: #f44242;
        color: #fff;
        font-size: 18px;
      }
      td {
        font-size: 16px;
      }
      button {
        background-color: #f44242;
        border: none;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: relative;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: #fff;
        background-color: #e83535;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body>
    <div id="google_translate_element"></div>
    <h1>Entrees</h1>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < entreeItems.length; i++) { %>
        <tr>
          <td><%= entreeItems[i].name %></td>
          <td>$<%= entreeItems[i].price %></td>
          <td><button>Add to Cart</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= user.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
