<!DOCTYPE html>
<html>
  <head>
    <title>New Menu Item</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-size: 15px;
      }

      .logo {
        position: relative;
        top: 2%;
        height: 40px;
        left: 48%;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: fixed;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: absolute;
        top: 2%;
        right: 3%;
        z-index: 9999;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }

      /*BACK BUTTON*/
      .backbtn {
        position: absolute;
        top: 2%;
        left: 0.5%;
      }

      .signout {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Text Enlarge Button*/
      #font-changing {
        position: absolute;
        top: 2%;
        left: 5%;
      }
      #enlarge-button,
      #reset-button {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 12px;
        cursor: pointer;
        text-decoration: none;
      }

      #enlarge-button:hover,
      #reset-button:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*TABLE SECTION*/
      .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
      }

      .table-container > div:first-child {
        position: relative;
        width: 70%;
      }

      .table-heading {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }

      table {
        border-collapse: collapse;
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        margin-bottom: 10px;
        margin-top: 30px;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .input-field {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 300px;
      }

      .add {
        background-color: #4caf50;
        color: white;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
      }

      .add:hover {
        background-color: #3e8e41;
      }

      .format {
        font-style: italic;
        color: #777;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }

      function resetTable() {
        const rows = document.querySelectorAll("#sales-table tbody tr");
        rows.forEach((row) => {
          row.style.display = "";
        });
      }

      function enlargeText() {
        const elementsToEnlarge = document.querySelectorAll("body*");

        elementsToEnlarge.forEach((element) => {
          const currentFontSize = parseFloat(
            window.getComputedStyle(element).fontSize
          );
          const newFontSize = currentFontSize + 1;

          element.style.fontSize = `${newFontSize}px`;
        });
      }

      const enlargeButton = document.getElementById("enlarge-button");
      enlargeButton.onclick = enlargeText;

      function resetText() {
        const elementsToReset = document.querySelectorAll("body*");

        elementsToReset.forEach((element) => {
          element.style.fontSize = null;
        });
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#add-item").click(function () {
          // Get the user input values
          const itemName = $('input[name="item-name"]').val();
          const ingredient = $('input[name="ingredients"]').val();

          // Send an AJAX request to call the setItem function
          $.ajax({
            url: "/newMenuItem",
            type: "POST",
            data: {
              itemName: itemName,
              ingredient: ingredient,
            },
            success: function (response) {
              // Reload the page to update the menu table
              location.reload();
            },
            error: function (xhr, status, error) {
              console.error(error);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <img src="../images/Chick-fil-A-Logo.png" class="logo" />
    <!---Back Button--->
    <div class="backbtn">
      <a href="/dashboard" class="signout">Back</a>
    </div>

    <!---Google Translate Section --->
    <div id="google_translate_element"></div>

    <!---Enlarge Text Button--->
    <div id="font-changing">
      <a id="reset-button" onClick="resetText()">Reset Text</a>
      <a id="enlarge-button" onClick="enlargeText()">Enlarge Text</a>
    </div>

    <!---TABLE SECTION---->
    <div class="table-container">
      <div>
        <h2 class="table-heading">New Menu Item</h2>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Ingredients</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < items.length; i++) { %>
            <tr>
              <td><%= items[i].item %></td>
              <td><%= items[i].ingredients %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <p class="format">
          Ingredients Format:
          "ingredient-unit-type,ingredient-unit-type,...,etc."
        </p>
        <input
          type="text"
          name="item-name"
          placeholder="Item Name"
          class="input-field"
        />
        <input
          type="text"
          name="ingredients"
          placeholder="Ingredients"
          class="input-field"
        />
        <div id="menu-buttons">
          <button id="add-item" class="add">Add Item</button>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= userProfile.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
