<!-- views/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Chick-fil-A's Login Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        flex-direction: column;
      }

      .logo {
        margin-bottom: 35px;
        height: 20%;
        width: 20%;
      }

      .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 25%;
        height: 20%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }

      a {
        background-color: #e83535;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        justify-content: center;
      }

      a:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }

      #google_translate_element {
        position: absolute;
        top: 3%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }
      body > .skiptranslate {
        display: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body>
    <div id="google_translate_element"></div>
    <img src="/Chick-fil-A-Logo.png" class="logo" />
    <h1 class="store-name">Chick-fil-A</h1>
    <div class="login-container">
      <div class="button-container">
        <p>Login or Register with:</p>
        <a href="/auth/google" class="signin"
          ><span class="fa fa-google"></span> Sign In with Google</a
        >
      </div>
    </div>
  </body>
</html>
