<!-- views/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Chick-fil-A's Login Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->

    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
      }

      .parentContainer {
        position: absolute;
        text-align: center;
      }

      .logo {
        position: fixed;
        top: 2%;
        height: 50px;
        left: 48%;
      }

      .background-image {
        margin-top: 20px;
        width: clamp(0px, 100%, 750px);
        height: auto;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .employee {
        position: fixed;
        top: 1%;
        left: 1%;
        width: 10px;
      }

      .manager,
      .server {
        display: inline-block;
        background-color: red;
        color: #fff;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 15px;
        cursor: pointer;
        justify-content: center;
      }

      .signin {
        width: 50%;
        height: auto;
        background-color: red;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 100px;
        font-size: 25px;
        cursor: pointer;
        justify-content: center;
        margin-top: 10px;
      }

      a:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: fixed;
        top: 2%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>

  <body>
    <!---Google Translate API Section--->
    <div id="google_translate_element"></div>

    <!---Google OAuth and Login Section--->
    <img src="/Chick-fil-A-Logo.png" class="logo" />
    <div class="parentContainer">
      <img src="/chick-fil-a-login.jpeg" class="background-image" />
      <div class="employee">
        <a href="/auth/google" class="manager">Manager</a>
        <a href="/auth/google" class="server">Server</a>
      </div>
      <div class="button-container">
        <a href="/customer" class="signin">Press to begin your order</a>
      </div>
    </div>
  </body>
</html>
