<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Customer View</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        flex-direction: column;
      }

      #google_translate_element {
        position: absolute;
        top: 3%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }
      body > .skiptranslate {
        display: none;
      }

      h1 {
        color: #c41230;
        text-align: center;
        padding-bottom: 5vh;
      }
      .menu-button {
        background-color: #e83535;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        width: 100%;
      }
      .menu-button:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: absolute;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: #fff;
        background-color: #e83535;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body>
    <div id="google_translate_element"></div>
    <h1>Menu</h1>
    <div>
      <a href="/entrees" class="menu-button">Entrees</a>
      <a href="/drinks" class="menu-button">Drinks</a>
      <a href="/salads" class="menu-button">Salads</a>
      <a href="/sides" class="menu-button">Sides</a>
      <a href="/treats" class="menu-button">Treats</a>
    </div>

    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= user.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
