<!-- views/success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: absolute;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: #fff;
        background-color: #e83535;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= user.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
