<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <title>Error Page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f2f2f2;
      }

      .backbtn {
        position: absolute;
        top: 2%;
        left: 0.5%;
      }

      .signout {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      h1 {
        font-size: 4em;
        margin-bottom: 0;
      }

      p {
        font-size: 2em;
        margin-top: 0;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="backbtn">
      <a href="/" class="signout">Back</a>
    </div>
    <div class="container">
      <h1>ERROR</h1>
      <p>Please return to main menu</p>
    </div>
  </body>
</html>
