<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Customer Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-direction: column;
        font-size: 15px;
      }

      .logo {
        position: absolute;
        top: 2%;
        height: 40px;
      }

      h1 {
        color: black;
        text-align: center;
        padding-bottom: 5vh;
        margin-top: 40px;
      }

      .menu-button {
        background-color: white;
        color: red;
        border: none;
        border-radius: 10px;
        padding: 0px 20px;
        margin-bottom: 10px;
        font-size: 20px;
        cursor: pointer;
        justify-content: space-between; /* align items with space between them */
        align-items: center;
        display: flex;
        width: 100%;
        border: 1px solid black;
      }
      .menu-button:hover {
        background-color: red;
        color: white;
        text-decoration: none;
      }

      .menu-button img {
        width: 90px;
        height: 90px;
        margin-right: 150px;
      }

      .menu-button span {
        margin-right: 10px; /* add space between the text and the symbol */
      }

      .menu-button::after {
        content: ">"; /* add the ">" symbol */
        font-size: 20px;
        margin-left: 10px; /* add space between the symbol and the button edge */
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: fixed;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: red;
        color: white;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: absolute;
        top: 2%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }

      /*Text Enlarge Button*/
      #font-changing {
        position: absolute;
        top: 2%;
        left: 1%;
      }
      #enlarge-button,
      #reset-button {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      #enlarge-button:hover,
      #reset-button:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <script type="text/javascript">
      function enlargeText() {
        const elementsToEnlarge = document.querySelectorAll("body *");

        elementsToEnlarge.forEach((element) => {
          const currentFontSize = parseFloat(
            window.getComputedStyle(element).fontSize
          );
          const newFontSize = currentFontSize + 1;

          element.style.fontSize = `${newFontSize}px`;
        });
      }

      const enlargeButton = document.getElementById("enlarge-button");
      enlargeButton.onclick = enlargeText;

      function resetText() {
        const elementsToReset = document.querySelectorAll("body *");

        elementsToReset.forEach((element) => {
          element.style.fontSize = null;
        });
      }
    </script>
  </head>
  <body>
    <img src="../images/Chick-fil-A-Logo.png" class="logo" />
    <!---Google Translate Section --->
    <div id="google_translate_element"></div>

    <!---Enlarge Text Button--->
    <div id="font-changing">
      <a id="reset-button" onClick="resetText()">Reset Text</a>
      <a id="enlarge-button" onClick="enlargeText()">Enlarge Text</a>
    </div>

    <!---Menu Section--->
    <h1>Menu</h1>
    <div>
      <a href="/serverEntrees" class="menu-button">
        <img src="../images/chicken_sandwich.png" atl="Entrees" />Entrees</a
      >
      <a href="/serverDrinks" class="menu-button">
        <img src="../images/sunjoy.png" />Drinks</a
      >
      <a href="/serverSalads" class="menu-button"
        ><img src="../images/market_salads.png" />Salads</a
      >
      <a href="/serverSides" class="menu-button"
        ><img src="../images/waffle_fries.png" />Sides</a
      >
      <a href="/serverTreats" class="menu-button"
        ><img src="../images/strawberry_milkshake.png" />Treats</a
      >
      <a href="/cart" class="menu-button">Cart</a>
    </div>

    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= userProfile.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
