<!DOCTYPE html>
<html>
  <head>
    <title>Sides</title>
    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-size: 15px;
      }

      .logo {
        position: relative;
        top: 2%;
        left: 50%;
        transform: translate(-50%);
        height: 40px;
      }

      h1 {
        color: #000;
        font-size: 36px;
        text-align: center;
        margin-top: 80px;
      }
      table {
        margin: 0 auto;
        border-collapse: collapse;
        border: 2px solid #000;
        width: 70%;
        margin-top: 50px;
      }
      th,
      td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #000;
      }
      th {
        background-color: red;
        color: #fff;
        font-size: 18px;
      }
      td {
        font-size: 16px;
      }
      tr:hover {
        background-color: #fff4f4;
      }
      .atc {
        background-color: red;
        border: none;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: fixed;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      tbody img {
        width: 150px;
        height: 150px;
        margin-right: 10px;
      }

      /*BACK BUTTON*/
      .backbtn {
        position: absolute;
        top: 2%;
        left: 0.5%;
      }

      .signout {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: absolute;
        top: 2%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }

      /*Text Enlarge Button*/
      #font-changing {
        position: absolute;
        top: 2%;
        left: 5%;
      }
      #enlarge-button,
      #reset-button {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      #enlarge-button:hover,
      #reset-button:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <script type="text/javascript">
      function enlargeText() {
        const elementsToEnlarge = document.querySelectorAll("body *");

        elementsToEnlarge.forEach((element) => {
          const currentFontSize = parseFloat(
            window.getComputedStyle(element).fontSize
          );
          const newFontSize = currentFontSize + 1;

          element.style.fontSize = `${newFontSize}px`;
        });
      }

      const enlargeButton = document.getElementById("enlarge-button");
      enlargeButton.onclick = enlargeText;

      function resetText() {
        const elementsToReset = document.querySelectorAll("body *");

        elementsToReset.forEach((element) => {
          element.style.fontSize = null;
        });
      }
    </script>
  </head>
  <body>
    <img src="../images/Chick-fil-A-Logo.png" class="logo" />
    <div class="backbtn">
      <a href="/dashboard" class="signout">Back</a>
    </div>
    <!---Google Translate Section --->
    <div id="google_translate_element"></div>

    <!---Enlarge Text Button--->
    <div id="font-changing">
      <a id="reset-button" onClick="resetText()">Reset Text</a>
      <a id="enlarge-button" onClick="enlargeText()">Enlarge Text</a>
    </div>

    <!---Sides Section--->
    <h1>Sides</h1>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < sideItems.length; i++) { %>
        <tr>
          <td><%= sideItems[i].item %></td>
          <td>$<%= sideItems[i].price %></td>
          <td><button class="atc">Add to Cart</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= userProfile.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
